html, body {
	height: 100%;
	padding: 0px;
	margin: 0px;
	overflow: hidden;
}

#app {
	height: 100%;
}

.chat-container {
	height: 100%;
	padding: 20px;
	margin: auto;
}

.chat-message-container {
	margin-top: 10px;
	height: 100%;
	overflow-y: scroll;
}

.chat-message {
	padding: 0px;
	margin: 10px 0px 10px 0px;
}

.chat-msg-body-bot {
	background-color: lightblue;
	border-radius: 5px;
	padding: 5px 10px 5px 10px;
}

.chat-msg-body-user {
	background-color: lightgray;
	border-radius: 5px;
	padding: 5px 10px 5px 10px;
}

.editor-container {
	height: 100%;
	padding: 0px;
	margin: 0px;
}

#editor {
	height: 100%;
	width: 100%;
}